.itemCode
{
    width: 120px;

}
*
 {
     font-size: 20px;
 }
.itemName
{
 width: 350px;

}



.table {
    text-align: center;
    box-sizing: border-box;
   
    overflow: auto;
    color: #000;
}

@media print {
.no-print{
    display: none;
}
}

